.body-profesionales {
  background-size: cover; /* hace que cubra todo */
  background-position: center; /* centra la imagen */
  background-repeat: no-repeat; /* evita que se repita */
  min-height: 100vh;
  background-image: var(--fondoProfesionales);

  }
  
  /* Contenedor principal */
  .profesionales-contenedor {
    padding: 50px 20px;
    color: white;
    text-align: center;
  }
  
  /* Título */
  .profesionales-titulo {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 130px;
  }
  
  /* Subtítulo */
  .profesionales-subtitulo {
    background-color: #cce3f4;
    color: #002147;
    display: inline-block;
    padding: 15px 200px;
    border-radius: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    top: -80px;
    letter-spacing: 1px;
  }
  
  /* Contenedor de tarjetas */
  .profesionales-cards {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    position: relative;
    top: -60px;
  }
  
  /* Tarjeta individual */
  .profesionales-card {
    background-color: #051d40;
    padding: 25px;
    border-radius: 10px;
    width: 250px;
    min-height: 400px;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  /* Imagen circular */
  .profesionales-foto {
    width: 140px;
    height: 140px;
    margin: 0 auto 15px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #539df1;
  }
  
  .profesionales-foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Borde especial para el seleccionado */
  .profesionales-foto.profesionales-seleccionado {
    border: 3px solid #539df1;
  }
  
  /* Nombre */
  .profesionales-nombre {
    margin: 10px 0 5px;
    font-size: 1.5rem;
  }
  
  /* Cargo */
  .profesionales-cargo {
    color: #4bd1fb;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Descripción */
  .profesionales-descripcion {
    font-size: 1.2rem;
    line-height: 1.4;
  }
  
  /* Botón siguiente */
  .profesionales-boton-siguiente {
    background-color: #01355f;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 720px;
    top: 750px;
    margin-top: 30px;
    transition: background-color 0.3s ease;
  }
  
  .profesionales-boton-siguiente:hover {
    background-color: #1e90ff;
  }
  